<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %>
  </head>

  <body>
    <!-- Navbar -->
    <% include ./partials/_navbar %>

    <!-------------------------- Jumbotron  START --------------->
    <main class="container">
      <section class="jumbotron">
        <h2 class="text-center">404: Not found</h2>
      </section>
    </main>

    <% include ./partials/_scripts %>
  </body>
</html>
