<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %>
  </head>

  <body>
    <!-- Navbar -->
    <% include ./partials/_navbar %>

    <!-------------------------- Jumbotron  START --------------->
    <main class="container">
      <section class="jumbotron">
        <form id="create-poll" method="POST" action="/">
          <!-- Alert box -->
          <div class="panel panel-warning" id="form-alert">
            <div class="panel-heading"><h3 class="panel-title">Error</h3></div>
            <div class="panel-body">
              There is a problem somewhere in the form.
            </div>
          </div>

          <h2>
            What are you feeling <i class="choosy-style">choosy</i> about?
          </h2>

          <!-- Email and Prompt -->
          <div class="input-group input-group-lg">
            <input
              type="text"
              name="prompt"
              class="form-control"
              placeholder="Prompt"
            />
          </div>
          <div class="input-group">
            <span class="input-group-addon"
              ><span class="glyphicon glyphicon-envelope"></span
            ></span>
            <input
              type="email"
              class="form-control"
              name="email"
              placeholder="Email"
            />
          </div>

          <h3 id="option-info">Give us some choices:</h3>

          <!-- Poll Choices -->
          <!-- TODO: Change input group addon to a delete button -->
          <section id="poll-choices">
            <div class="input-group">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-menu-right"></span>
              </span>
              <input
                type="text"
                class="form-control choice-title"
                name="title0"
                placeholder="Option"
              />
              <input
                type="text"
                class="form-control choice-description"
                name="desc0"
                placeholder="Description (optional)"
              />
            </div>
            <div class="input-group">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-menu-right"></span>
              </span>
              <input
                type="text"
                class="form-control choice-title"
                name="title1"
                placeholder="Option"
              />
              <input
                type="text"
                class="form-control choice-description"
                name="desc1"
                placeholder="Description (optional)"
              />
            </div>
          </section>

          <!-- Submit Poll -->
          <input
            type="submit"
            value="Create Poll"
            class="btn btn-primary btn-lg btn-block"
          />
        </form>
      </section>
    </main>

    <% include ./partials/_scripts %>
    <script src="/scripts/app.js"></script>
  </body>
</html>
