<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %>
  </head>

  <body>
    <!-- Navbar -->
    <% include ./partials/_navbar %>

    <!-------------------------- Jumbotron  START --------------->
    <main class="container">
      <section class="jumbotron">
        <h2 class="poll-prompt"></h2>
        <!-- Share public link -->
        <form>
          <div class="input-group">
            <span class="input-group-addon"> Share poll: </span>

            <input type="text" class="form-control" id="copy-input" />

            <span class="input-group-btn">
              <button
                class="btn btn-default"
                type="button"
                id="copy-button"
                data-clipboard-target="#copy-input"
                title="Copy to Clipboard"
              >
                <span class="glyphicon glyphicon-copy"></span>
              </button>
            </span>
          </div>
        </form>
        <div class="chart-container panel panel-default">
          <canvas id="poll-results" width="400" height="400"></canvas>
        </div>
      </section>
    </main>

    <% include ./partials/_scripts %>
    <!-- Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
    <!-- clipboard.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>

    <script src="/scripts/manage.js"></script>
  </body>
</html>
