<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %>
  </head>

  <body>
    <!-- Navbar -->
    <% include ./partials/_navbar %>

    <!-------------------------- Jumbotron  START --------------->
    <main class="container">
      <section class="jumbotron">
        <h1 class ="text-center">Thank you for being <i class="choose-style">choosy</i>!</h1>
      </section>
    </main>

    <% include ./partials/_scripts %>
    <script src="/scripts/app.js"></script>
  </body>
</html>
