<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/_head %>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Navbar -->
    <% include ./partials/_navbar %>

    <!-- Jumbotron body -->
    <main class="container">
      <section class="jumbotron">
        <h2 class="poll-prompt"></h2>
        <h5 class="instruction">Order from best to worst:</h5>
        <ul id="sortable" class="list-group"></ul>
        <button id="submit-vote" class="btn btn-primary btn-lg">Choose!</button>
        <!-- /Jumbotron -->
      </section>
    </main>

    <% include ./partials/_scripts %>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- A hack to get jqueryui sortable list working with touch events -->
    <script src="/vendor/jquery.ui.touch-punch.min.js"></script>
    <script src="/scripts/vote.js"></script>
  </body>
</html>
