/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

body {
  padding-top: 65px;
  font-family: 'Merriweather Sans', sans-serif;
}

.navbar-brand {
  font-family: Merriweather, sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 18pt;
}

.poll-prompt {
  font-family: Merriweather, sans-serif;
  font-weight: 900;
  font-style: italic;
}

.list-group {
  margin-top: 20px;
}

.input-group {
  width: 100%;
  padding-bottom: 2em;
}

#create-poll h1 {
  font-family: Merriweather, sans-serif;
  font-weight: 900;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 30px;
}
.choose-style {
  color: #e74c3c;
}
