%merriweather {
  font: {
    family: Merriweather, sans-serif;
    style: italic;
  }
}

%merriweather-sans {
  font-family: 'Merriweather sans', sans-serif;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

body {
  @extend %merriweather-sans;
  padding-top: 65px;
}

// Navbar
.navbar-brand {
  @extend %merriweather;
  font-weight: 900;
  font-size: 18pt;
}

// Main Vote
.poll-prompt {
  @extend %merriweather;
  font-weight: 900;
}

#sortable {
  margin-top: 20px;

  h4 {
    font-weight: 700;
  }

  section {
    font-style: italic;
  }
}
